* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  background-color: rgb(53, 61, 38);
  background-image: linear-gradient(
    to bottom right,
    rgb(53, 61, 38),
    darkOliveGreen
  );
  color: whitesmoke;
  text-align: center;
  position: relative;
}
body > h1 {
  padding: 3rem;
}
body > img {
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
