@import url("https://fonts.googleapis.com/css2?family=Bonbon&display=swap");

#root,
.app,
body,
.main-content {
  min-height: 100vh;
}
body {
  min-width: 280px;
  text-align: center;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 48px;
  margin: 0;
}
h2 {
  margin: 0;
}
a {
  text-decoration: none;
}
.header-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.header-nav a {
  color: #faebefff;
  text-decoration: none;
  margin: 0 0.5rem 0 0.5rem;
}
.header-mobile-nav a {
  color: #333d79ff;
  text-decoration: none;
}
.header-logo-container {
  display: flex;
  align-items: center;
}
.header-logo {
  background-image: url("./assets/hamsterwars-logo.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  padding-right: 0.5em;
  height: 30px;
  width: 30px;
}
.main-content {
  background-color: #faebefff;
  padding: 1em;
  margin: 0;
}
.main-content h1,
.main-content h2,
.main-content h3,
.main-content h4 {
  font-family: "Bonbon", cursive;
}

.hamster-card:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
.delete-icon:hover {
  transform: scale(1.2);
  cursor: pointer;
}
