@import url("https://fonts.googleapis.com/css2?family=Bonbon&display=swap");

#root,
.app,
body,
.main-content {
  min-height: 100vh;
}
body {
  min-width: 280px;
  text-align: center;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 48px;
  margin: 0;
}
h2 {
  margin: 0;
}
a {
  text-decoration: none;
}
.header-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.header-nav a {
  color: #faebefff;
  text-decoration: none;
  margin: 0 0.5rem 0 0.5rem;
}
.header-mobile-nav a {
  color: #333d79ff;
  text-decoration: none;
}
.header-logo-container {
  display: flex;
  align-items: center;
}
.header-logo {
  background-image: url("./assets/hamsterwars-logo.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  padding-right: 0.5em;
  height: 30px;
  width: 30px;
}
.main-content {
  background-color: #faebefff;
  padding: 1em;
  margin: 0;
}
.main-content h1,
.main-content h2,
.main-content h3,
.main-content h4 {
  font-family: "Bonbon", cursive;
}

.hamster-card:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
.delete-icon:hover {
  transform: scale(1.2);
  cursor: pointer;
}
.cutest {
  position: relative;
  background-image: radial-gradient(
    farthest-corner at 34px 14px,
    #4b5bb4 25%,
    #333d79ff 35%,
    #939dd2 100%
  );
  box-shadow: 0 0 20px 5px #939dd2;
  animation: shine 1800ms infinite;
}
@keyframes shine {
  0%,
  100% {
    box-shadow: 0 0 5px 2px #4b5bb4;
  }
  50% {
    box-shadow: 0 0 24px 4px #4b5bb4;
  }
}
.bouncing-404 {
  position: absolute;
  width: 240px;
  height: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  background: #333d79ff;
  color: #faebefff;
  transform: translateY(0px);
  animation: bounce 1500ms infinite;
}
@keyframes bounce {
  0% {
    top: 0;
  }
  40% {
  }
  50% {
    top: 240px;
    height: 240px;
  }
  55% {
    top: 260px;
    height: 220px;
  }
  65% {
    top: 220px;
    height: 240px;
  }
  95% {
    top: 0;
  }
  100% {
    top: 0;
  }
}
